[Unit]
Description=HyPanel Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/hypanel/
ExecStart=/usr/local/hypanel/hypanel
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target